


.listNodes{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
    margin: 2vh 2vw;
    padding: 4px 7px;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: ba; */
    height: 7vh;
    /* overflow-x: scroll; */
}
.listNodes button {
    background-color: white;
}

.listTab{
    display: flex;
    column-gap: 2px;
    border: 2px solid aqua;
    align-items: center;
    /* width: 80px; */
    width: auto;
    border-radius: 10%;
    padding: 2px 4px;
}

.listTab .showList{
    border: none;
    width: fit-content;
    padding: 10px;
}
.listTab .removeListTab{
    /* border-left: none; */
    margin-left: 5px;
    /* background-color: rgba(175, 18, 18, 0.158); */

    width: 15px;
    height: 15px;
    text-align: center;
    align-items: center;
    border: none;
}



#addNewList{
    /* position: fixed;
    right: 2.5vw; */
    margin-left: 5px;
    background-color: rgba(127, 255, 0, 0.5);
    width: 35px;
    border-radius: 5px;
    border-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;
    margin: 3vh 5vw;
    margin-bottom: 0.5vh;
    height: 30px;
}

.inputDiv input{
    width: 40vw;
}

